<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3"> Ngrx Products </h1>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <add-form (action)="onAdd($event)"></add-form>
                    </div>
                    <div class="col-md-6">
                        <product-list [products]="products | async"
                            (action)="onRemove($event)"></product-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
